.projects-heading {
    font-size: 90px;
    font-weight: 600;
    margin-left: 25%;
    width: 50%;
    padding-top: 0;
    margin-top: 0%;
    font-family: 'Trebuchet MS';
    background-color: transparent;
    padding-left: 12%;
    
}


.p-container {
    display: flex;
    margin-left: 0%;
    padding-left: 2%;
    margin-bottom: 20%;
    height: 100%;
    background-color: transparent;
}


.project-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-left: 15%;
}

.stack-row-p{
    background-color: transparent;
    margin-bottom: 5%;
}





/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .p-container {
        width: 200%;
        background-color: transparent;
        margin-bottom: 20%;

    }
    .projects-heading {
       background-color: transparent;
       font-size: 80px;
       padding-left: 0;
       margin-left: 23%;
    }

    

    .project-container {
       background-color: transparent;
       margin-left: 0%;
       padding-left: 23%;
    }

    .stack-row-p {
     background-color: transparent;
     margin-bottom: 12%;
        
    }
}